<tr>
  <td class="title"><i data-hook="icon"></i> <span data-hook="name">{{model.name}}</span></td>
  <td class="user" data-hook="user">{{model.user}}</td>
  <td class="group" data-hook="group">{{model.group}}</td>
  <td class="uptime" data-hook="uptime">{{model.uptimeFormatted}}</td>
  <td class="memory" data-hook="memory">{{model.memoryFormatted}}</td>
  <td class="cpu" data-hook="cpu">{{model.cpuFormatted}}</td>
</tr>
