<div>
  <h2><a href="/host/{{model.hostname}}"><i data-hook="host-icon"></i> {{model.hostname}}</a></h2>
  <div class="details">
    <table>
      <tr>
        <th>Type</th>
        <td>{{model.type}} ({{model.arch}})</td>
      </tr>
      <tr>
        <th>Release</th>
        <td>{{model.release}}</td>
      </tr>
      <tr>
        <th>CPU</th>
        <td>{{model.cpuSpeed}}</td>
      </tr>
      <tr>
        <th>Memory</th>
        <td>{{model.totalMemoryFormatted}}</td>
      </tr>
      <tr>
        <th>Guvnor</th>
        <td>{{model.guvnor}}</td>
      </tr>
      <tr>
        <th>Node</th>
        <td>{{model.versions.node}}</td>
      </tr>
    </table>
  </div>
  <div data-hook="cpu"></div>
  <div data-hook="memory"></div>
</div>
