<div class="panel panel-primary details">
  <div class="panel-heading">
    <h4 class="panel-title">{{model.name}}</h4>
  </div>
  <div class="panel-body" data-hook="debugger-warning">
    <div class="alert alert-warning">
      {{model.name}} is running in debug mode, is paused and is waiting for a debugger to attach to port {{model.debugPort}}. Please click the debug button below.
    </div>
  </div>
  <div class="panel-body" data-hook="running-information">
    <div data-hook="addworkerbutton"></div>
    <div data-hook="removeworkerbutton"></div>
    <div data-hook="restartbutton"></div>
    <div data-hook="stopbutton"></div>
    <div data-hook="gcbutton"></div>
    <div data-hook="debugbutton"></div>
    <div data-hook="memory"></div>
    <div data-hook="cpu"></div>
    <div data-hook="latency"></div>
  </div>
  <!--
  <div class="panel-body" data-hook="running-information">
    <p>{{model.name}} has been running for <span data-hook="uptime">{{model.uptimeFormatted}}</span> with <span data-hook="restarts">{{model.restarts}}</span> restart(s).</p>
    <p>The current pid is <span data-hook="pid">{{model.pid}}</span> and it's running as <span data-hook="user">{{model.user}}</span>:<span data-hook="group">{{model.group}}</span>.</p>

    <div data-hook="gcbutton"></div>
    <div data-hook="debugbutton"></div>

  </div>
   -->
</div>
