<ul class="process">
  <li class="processName"><a href="/host/{{model.collection.parent.name}}/process/{{model.id}}"><span class="nodeIcon">&#11042;</span> <span data-hook="process-name">{{model.name}}</span></a></li>
  <li class="processLogs"><a href="/host/{{model.collection.parent.name}}/process/{{model.id}}/logs"><i class="fa fa-book"></i> Logs</a></li>
  <li class="processExceptions"><a href="/host/{{model.collection.parent.name}}/process/{{model.id}}/exceptions"><i class="fa fa-exclamation-triangle"></i> Exceptions</a></li>
</ul>
